<nav class="navbar navbar-expand-lg navbar-light bg-white nav-fixed">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <i style="font-size:24px" class="fa">&#xf030;</i>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 line-end">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="./collections">Collections</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="./explore">Explore</a>
      </li>
      <li class="nav-item icon-dot">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
        </svg>
      </li>
    </ul>
    <form class="form-inline inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit a photo</button>
    </form>
    <i class="fa icon-bell">&#xf0f3;</i>
    <li class="nav-item avatar ">
      <a>
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle "></a>

    </li>
  </div>
</nav>
