/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body{
    background-image: url("https://images.unsplash.com/photo-1508021837634-3917692f66ba?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2NTEwMX0") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;

}