<div class="container body padding-center">

    <h1>Unsplash</h1>
    <p>Beautiful,free photos.</p>
    <p>Gifted by the world's most generous community of photographers.</p>
    <div class="input-group">
        <span class="input-group-prepend">
            <div class="input-group-text bg-transparent border-right-0">
                <i class="fa fa-search"></i>
            </div>
        </span>
        <input class="form-control py-2 border-left-0 border" type="search"
            placeholder="Search free high-resolution photos" id="example-search-input" />
        <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="button">
                Search
            </button>
        </span>
    </div>
    <div class="from-top">

        <h4>Trending Searches:business,computer,nature,love,house</h4>
    </div>
</div>

<div class="container back-round">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#trending">Trending</a></li>
        <li><a data-toggle="tab" href="#new">New</a></li>
        <li><a data-toggle="tab" href="#following">Following</a></li>
    </ul>

    <div class="tab-content">
        <div id="trending" class="tab-pane fade in active row-fluid" *ngFor="let image of images">
            <img class="image-size" [src]="image.urls.full" />
        </div>
        <div id="new" class="tab-pane fade">
            <h3>New</h3>
        </div>
        <div id="following" class="tab-pane fade">
            <h3>Following</h3>
        </div>
    </div>
</div>