.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 75%;
}
.form-control{
    font-size: medium;

}
.from-top{
    margin-top: 15px;

}
p{
    font-size: medium;
}
.container{
    margin-block-end: 20px;
}
.image-size{
    width: 30%;
    margin: 10px;
}
li{
    font-size: large;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.back-round{
    background-color: white;
    height: 791px;
    overflow: scroll;
}
.svg-svg{
    margin-top: 11px;
    width: 801px;
    font-size: x-large;
}
.padding-center{
    padding-inline-start: 200px;

}
